$baseClass: '.sw-CharacterForm';

.sw-CharacterForm {
  &-textField {
    margin-bottom: 16px;
  }

  &-fieldGroup {
    margin-bottom: 32px;
  }

  &-actionRow {
    background-color: var(--c-gray-2);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
    margin-left: -16px;
    margin-right: -16px;
    margin-bottom: -16px;
  }

  &-labelHelp {
    color: var(--c-gray-3);
  }

  &-label {
    &#{$baseClass}-hasError {
      color: var(--c-error);
    }
  }

  &-input {
    &#{$baseClass}-hasError {
      border-color: var(--c-error);
    }
  }

  &-select {
    &#{$baseClass}-hasError {
      [data-reach-listbox-button] {
        border-color: var(--c-error);
      }
    }
  }
}
