:root {
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --c-gray: #9ca1a9;
  --c-white: #ffffff;
  --c-black: #505763;
  --p-base: 8px;

  --c-font: var(--c-black);
  --c-background: #f4f7fa;
}
