:root {
  --ff-sans-serif: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;

  --c-primary: #4f3cc9;
  --c-primary-light: #604fcf;
  --c-primary-dark: #4735c0;

  --c-secondary: #da4167;
  --c-secondary-light: #dd5577;
  --c-secondary-dark: #d7335c;

  --c-error: #f44336;
  --c-error-light: #e57373;
  --c-error-dark: #d32f2f;

  --c-gray: #adbacf;
  --c-gray-1: #f4f7fa;
  --c-gray-2: #e4e5e9;
  --c-gray-3: #adbacf;
  --c-gray-4: #9ca1a9;
  --c-gray-5: #505763;

  --c-white: #fff;
  --c-black: #000;

  --c-text: #28303f;
  --c-background: var(--c-gray-1);
}
