$baseClass: '.sw-uiButton';

.sw-uiButton {
  background-color: transparent;
  padding: 8px 16px;
  border: 0;
  border-radius: 4px;

  &-label {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  &-startIcon {
    display: inherit;
    margin-right: 8px;
  }

  &-endIcon {
    display: inherit;
    margin-left: 8px;
  }

  &-text {
    &#{$baseClass}-default {
      color: var(--c-gray-2);
    }

    &#{$baseClass}-primary {
      color: var(--c-primary);
    }

    &#{$baseClass}-secondary {
      color: var(--c-secondary);
    }
  }

  &-contained {
    &#{$baseClass}-default {
      background-color: var(--c-gray-2);
      color: var(--c-black);
    }

    &#{$baseClass}-primary {
      background-color: var(--c-primary);
      color: var(--c-white);
    }

    &#{$baseClass}-secondary {
      background-color: var(--c-secondary);
      color: var(--c-white);
    }
  }
}
